{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>This work is supported by</h2>
<ul>
    <li>The Canadian Institutes of Health Research: Mpox Rapid Research Funding Initiative (CIHR MZ1 187236) </li>
    <br>
    <li>Research Nova Scotia (grant 2023-2565) </li>
    <br>
    <li>Dalhousie Medical Research Foundation </li>
    <br>
    <li>Li-Ka Shing Foundation </li>
    <br>
    <li>Moderna Global Fellowship 2024 [2024-MGF-000316 (91353)]</li>
    <br>
    <li>The corresponding author (DJK) is the Canada Research Chair in Translational Vaccinology and Inflammation </li>
</ul>

<img src="https://raw.githubusercontent.com/gustavsganzerla/TCEPVDB/main/var/www/DjangoApp/poxidb/static/images/funding02.jpeg" alt="funding" width="800" height="150">


{% endblock%}