{% extends 'base.html' %}
{% load static %}


{% block content %}
<html lang="en">

<style>
    .form-container {
        border: 1px solid #ccc;
        padding: 10px;
        width: fit-content; /* Adjust width as needed */
        margin: auto;
    }

    .form-field {
        margin-bottom: 10px;
    }

    .form-label {
        display: inline-block;
        width: 150px; /* Adjust width as needed */
    }

  </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Organisms</title>
</head>
<body>
    <h1>T Cell Epitopes Poxviruses Database</h1>
    <br>

    <div style="position: relative;">
        <form id="searchForm" method="POST" enctype="multipart/form-data" style="float: left;">
            {% csrf_token %}
            
            <div class="form-field">
                <label for="id_field1" class="form-label">Query Organism: </label>
                {{form.query_organism}}
            </div>

            <div class="form-field">
                <label for="id_field2" class="form-label">Query Antigen: </label>
                {{form.query_antigen}}
            </div>

            <div class="form-field">
                <label for="id_field3" class="form-label">Search Type: </label>
                {{form.search_type}}
            </div>
            <button type="submit">Search</button>
        </form>
    
        <img src="https://raw.githubusercontent.com/gustavsganzerla/TCEPVDB/main/var/www/DjangoApp/poxidb/static/images/TCEVPDB.png" alt="stats" style="position: absolute; top: 0; right: 0; width: 500px; height: auto;">
        
    </div>


    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("searchForm");
            var field1 = form.querySelector("input[name='query_organism']");
            var field2 = form.querySelector("input[name='query_antigen']");

            function disableField(field) {
                field.disabled = true;
            }

            function enableField(field) {
                field.disabled = false;
            }

            // Initially, both fields are enabled
            enableField(field1);
            enableField(field2);

            field1.addEventListener("input", function() {
                if (field1.value.trim() !== "") {
                    disableField(field2);
                } else {
                    enableField(field2);
                }
            });

            field2.addEventListener("input", function() {
                if (field2.value.trim() !== "") {
                    disableField(field1);
                } else {
                    enableField(field1);
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}
