{% extends 'base.html' %}



{% block content %}
<html lang="en">

<style>
    .statistics {
      border: 1px solid black;
      padding: 10px;
      width: 300px;
      height: 200px;
    }
  </style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Organisms</title>
</head>
<body>
    <h1>T Cell Epitopes Poxviruses Database</h1>
    <form id="searchForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <br>
    <div class=statistics>
    <p><i class="fa-solid fa-chart-simple"></i><i> Statistics</i></p>
    <p><b>Supported organisms:</b> 37</p>
    <p><b>Predicted Antigens:</b> 3,966</p>
    <p><b>Predicted Epitopes:</b> 54,291</p>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("searchForm");
            var field1 = form.querySelector("input[name='query_organism']");
            var field2 = form.querySelector("input[name='query_antigen']");

            function disableField(field) {
                field.disabled = true;
            }

            function enableField(field) {
                field.disabled = false;
            }

            // Initially, both fields are enabled
            enableField(field1);
            enableField(field2);

            field1.addEventListener("input", function() {
                if (field1.value.trim() !== "") {
                    disableField(field2);
                } else {
                    enableField(field2);
                }
            });

            field2.addEventListener("input", function() {
                if (field2.value.trim() !== "") {
                    disableField(field1);
                } else {
                    enableField(field1);
                }
            });
        });
    </script>
</body>
</html>
{% endblock %}
