{% extends 'base.html' %}



{% block content %}
  <h2>Query in the Antigen Database </h2>
  <h2>Search contains: <u>{{query}}</u></h2>
  <br>
  <p>Total antigens = {{n_antigens}}</p>
  <p>Download Antigens <a href="{% url 'poxidb:download_antigens' query=download_query %}" title="View"><i class="fas fa-download"></i></a> </p>

<style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px; /* Adjust the margin as needed */
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .small-text {
        font-size: 12px;  /* Adjust the font size as needed */
        max-width: 750px; /* Adjust the maximum width as needed */
        word-wrap: break-word;
      }
  </style>

  <a href="{% url 'poxidb:characterize_antigens' query=download_query %}">
    <button class="btn btn-primary">Antigens Characterization</button>
</a>


  <table>
    <thead>
      <tr>
        <th>Description</th>
        <th>Organism</th>
        <th>Antigenicity Score</th>
        <th>Protein Sequence</th>
        <th>Epitope Count</th>
      </tr>
    </thead>
    <tbody>
      {% for item in antigens %}
        <tr>
          <td>
            <a href="{% url 'poxidb:visualize_individual_epitopes' description=item.description%}">{{item.description}}</a></td>
          <td>{{item.organism}}  
          <td>{{item.antigen_score}}</td>
          <td class="small-text">{{item.protein}}</td>
          <td>{{item.epitope_count}}</td>
        </tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- Scroll to Top Button -->
<button onclick="scrollToTop()" style="display: block; position: fixed; bottom: 20px; right: 20px;" class="btn btn-secondary">Scroll to Top</button>

<script>
  function scrollToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>



{% endblock%}